<div class="col-12 col-md-9">
    <div class="row m-3">
        <div class="col-md-6">
            <form action="/admin/edit-category/{{category._id}}" method="post" enctype="multipart/form-data">
                <label class="form-label mb-0" for="">Catergory Name</label>
                <input class="form-control mb-3" name="category_name" type="text" value="{{category.category_name}}"
                    required>

                <label class="form-label mb-0" for="">Sub-category</label>
                <button class="btn btn-primary btn-sm float-end" type="button" onclick="addCategoryInput()">Add</button>
                <div id="s">
                    {{#each category.subcategory}}
                    <input type="text" name="subcategory" class="form-control" value="{{this}}">
                    {{/each}}
                </div>

                <label class="form-label mb-0 mt-3" for="">Brand</label>
                <button class="btn btn-primary btn-sm float-end mt-3" type="button"
                    onclick="addBrandInput()">Add</button>
                <div id="b">
                    {{#each category.brand}}
                    <input type="text" name="brand" class="form-control" value="{{this}}">
                    {{/each}}
                </div>

                <label class="form-label mb-0 mt-3" for="">Discount</label>
                <input class="form-control mb-3" name="discount" type="number" min="0" max="100"
                    value="{{category.discount}}">

                <label class="form-label mb-0" for="">Image</label>
                <input class="form-control mb-3" name="image" id="image" type="file" onchange="displayImage(event)">

                <button class="form-control btn btn-success" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="p-2 border">
                <img src="/images/categories/{{category._id}}.png" id="display_image" height="250" width="250" alt="">
            </div>
        </div>
    </div>
</div>



</div>



<script>
    function displayImage(event) {
        document.getElementById('display_image').src = URL.createObjectURL(event.target.files[0])
    }

    function addCategoryInput() {
        var x = document.createElement("INPUT");
        x.setAttribute("type", "text");
        x.setAttribute("name", "subcategory");
        x.setAttribute("class", "form-control my-1");
        document.getElementById("s").appendChild(x)
    }

    function addBrandInput() {
        var x = document.createElement("INPUT");
        x.setAttribute("type", "text");
        x.setAttribute("name", "brand");
        x.setAttribute("class", "form-control my-1");
        document.getElementById("b").appendChild(x)
    }
</script>